In [1]:
Getting started with python :

SyntaxError: invalid syntax (2879019193.py, line 1)

In [ ]:
Introduction to list datatype:

    1. String =====>

    2. Numbers ====> integers (int) and float (decimals) = 0.1,0.2

    3. list datatype 

    4. tuples

    5. Dictionaries

In [ ]:
Introduction to Numbers:

In [1]:
number = 123

print(number)

123

In [2]:
type(number)

int

In [3]:
num2 = 0.1

print(num2)

0.1

In [4]:
type(num2)

float

In [ ]:
Introduction to list datatype: 

definition : A list is a collection of items defined in a particular order.

classification : It is classified as mutable datatype (which we can edit/alter)

how to define the list datatype : [] #square brackets

In [5]:
students = ['arpita','ashwini','asna','bhuvan','david','karthik']

In [6]:
print(students)

['arpita', 'ashwini', 'asna', 'bhuvan', 'david', 'karthik']

In [7]:
type(students)

list

In [ ]:
Introduction to indexing : 0,1,2,3,4,5,6........

In [ ]:
#req : i want to access particular name in the output ?

In [8]:
print(students[1])

ashwini

In [9]:
print(students[1].title())

Ashwini

In [10]:
print(students[3].title())

Bhuvan

In [ ]:
how to add new elements to the list

how to modify the elements in the list

how to delete the elements in the list

In [11]:
print(students)

['arpita', 'ashwini', 'asna', 'bhuvan', 'david', 'karthik']

In [12]:
#req: i want to add another name in the list

In [13]:
students.append('shafi')

In [14]:
print(students)

['arpita', 'ashwini', 'asna', 'bhuvan', 'david', 'karthik', 'shafi']

In [15]:
students+='ram'

In [16]:
print(students)

['arpita', 'ashwini', 'asna', 'bhuvan', 'david', 'karthik', 'shafi', 'r', 'a', 'm']

In [17]:
students=students+['ram']

In [18]:
print(students)

['arpita', 'ashwini', 'asna', 'bhuvan', 'david', 'karthik', 'shafi', 'r', 'a', 'm', 'ram']

In [19]:
students+=['abcd']

In [20]:
print(students)

['arpita', 'ashwini', 'asna', 'bhuvan', 'david', 'karthik', 'shafi', 'r', 'a', 'm', 'ram', 'abcd']

In [ ]:
# i want to add a name at a particular index number

In [22]:
students.insert(2,'kaleem')

In [24]:
# Append adds elements to the end of the list while insert adds elements at the mentioned index. Append has one argument while insert has 2 arguments.

In [ ]:
#i want to delete a particular name from the given list

In [25]:
students.pop()

'abcd'

In [26]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asna', 'bhuvan', 'david', 'karthik', 'shafi', 'r', 'a', 'm', 'ram']

In [31]:
students.remove('ashwini')

In [32]:
print(students)

['arpita', 'kaleem', 'asna', 'bhuvan', 'david', 'karthik', 'shafi', 'r', 'a', 'm', 'ram']

In [33]:
del students[1]

In [34]:
print(students)

['arpita', 'asna', 'bhuvan', 'david', 'karthik', 'shafi', 'r', 'a', 'm', 'ram']

In [35]:
# Pop removes the last element from the list. It can be stored in a separate variable.
# remove function needs the exact argument needed to be removed
# del funtion requires list variable to delete the variable entirely or variable[index] to delete a particular element

In [36]:
del students

In [37]:
print(students)

NameError: name 'students' is not defined